<!DOCTYPE html>

<head>
    <title>
        help
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
    {{>header}}


    <img class = "potrait" src="/img/about2.png">
    <p> Description <p>

    </div>
    {{>footer}}

</body>

</html>